html * {
    font-family: 'Lato', sans-serif;
}
html,
body {
    height: 100%;
    font-size: 10px;
    background-color: #f5f5f5;
    margin: 0;
}
h1 {
    font-size: 2.7em;
}
a {
    cursor: pointer;
    color: #555;
}
.login {
    position: absolute;
    margin-top: 1em;
    top: 0;
    color: #6D6D6D;
    font-size: 1.2em;
}
#header-right {
    right: 0;
    margin-right: 1em;
}
#header-left {
    left: 0;
    margin-left: 1em;
}
#header {
    padding: 2em;
}
#header img {
    vertical-align: middle;
    max-height: 15em;
    width: 50%;
}
#navbar {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-top: 0.5px solid #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
}
#navbar .nav > li > a {
    color: #b7b7b7;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.2em;
}
#navbar .nav > li > a:hover, 
#navbar .nav > li > a:focus,
#navbar .nav > li > a.selected {
    color: #272727;
    background-color: #f9f9f9;
    box-shadow: inset 0 4px 0 0 #8BC53B;
    outline: none;
}
#navbar .navbar-toggle .icon-bar {
    background-color: #555;
}
#menu-navbar {
    padding: 0;
}
.slideshow-container {
    padding-top: 2em;
    padding-bottom: 1em;
}
.carousel {
    height: 100%;
}
.carousel-control
{
    background-image: none !important;
    width: 10%;
    color: #CCC !important;
}
.carousel .container {
    padding: 0 1em;
}
.carousel .item > img {
    width: 100%;
    max-width: 1024px;
    margin : 0 auto;
}
.section {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 2em;
    height: 34rem;
}
.section > h1 {
    padding-bottom: .5em;
    color: #8BC53B;
}
#home-list {
    width: 300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#home-list > ul > li {
    text-align: left;
}
#contact-inline-link {
    text-decoration: underline;
    cursor: pointer;
}
#services .service-block p{
    text-align: left;
}
#services .service-block-left {
    padding-left: 0px;
    margin-left: 0px;
    float:left;
}
#services .service-block-right {
    padding-right: 0px;
    margin-right: 0px;
    float: right;
}
#services .service-icon {
    float: left;   
}
#services .container .service-block-left h3{
    margin-top: 19px;
    margin-bottom: 18px;
}
#services .container .service-block-right h3{
    margin-top: 8px;
    margin-bottom: 3px;
}
#services .container p {
    padding-top: 25px;
}
#about p {
    text-align: left;
}
#services br {
    line-height: 80%;
}
#contact #contact-info h2 {
    font-size: 2rem; 
    text-align: left;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    line-height: 2.8rem;
}
#contact .contact-label {
    color: #5F6062;
    font-size: 2rem;
    padding: 0px;
}
#contact form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#contact form div {
    margin-bottom: 7px;
}
#contact form button {
    margin-top: 0.5rem;
    float: right;
}
#contact #contact-info #form-text {
    text-align: center;
    padding: 1em;
}
#submit-button {
    color: white;
    width: 123px;
    height: 43px;
    background-color: #8BC53B;
    border: 1px solid #979797;
    border-radius: 8px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 5px;
    margin-bottom: 1rem;
}
button {
    outline: none;    
    background: #F9F9F9;
    border: none;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.18);
    height: 7rem;
    line-height: 3.5rem;
    background: #F9F9F9;   
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline;
    padding: 0 1em;
}
.footer li a {
    color: #6D6D6D;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 100%;
    font-size: 1.1em;
}
.footer li > a:hover,
.footer li > a:focus {
    background-color: white;
}
.footer p {
    color: #6D6D6D;
    margin-left: 1em;
    margin-bottom: 0;
    font-size: 1.1em;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}
.modal h1 {
    color: #393939;
    font-size: 3.5em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#fine {
    margin: 0 auto;
    line-height: 200%;
    text-align: left;
    width: 90%;
    font-size: 1.4em;
}

/* Confirmation Page */
#confirmation {
    text-align: center;
    width: 50%;
    margin: 2rem auto;
    background: #FFFFFF;
    border: 2px solid #ccc;
    box-shadow: 0px 1px 3px 0px #555;
    border-radius: 10px;
    padding: 1.5rem 1rem;
}
#confirmation h2 {
    padding-bottom: 1.5rem;
}
#confirmation h4 {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .footer ul > li:not(:last-child) {
        border-right:1px solid #005571;
    }
    #navbar {
        width: 95%;
    }
    #header img {
        vertical-align: middle;
        max-height: 15em;
    }
    #wrapper-inside {
        padding-bottom: 3.5rem;
    }
    body, html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
@media (max-width: 576px) {
    #home-list {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .footer {
        margin-top: -3.6rem;
        width: 100%;
        box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.18);
        height: 3.5rem;
        line-height: 3.5rem;
        background: #F9F9F9;   
    }
    .footer ul li {
        padding: 0 2em;
    }
    .footer p {
        margin-left: 2em;
    }
    #priv-links {
        text-align: right;
    }
    #form-text {
        display: none;
    }
}
@media (max-width: 990px) {
    #services .service-block-right {
        padding-left: 0px;
    }
    #footer #navigation li {
        margin: 0 5px;
    }
}
@media (min-width: 1200px) {
    .carousel .item > img {
        max-width: 1170px;
        height: auto;
    }
}